* {
    box-sizing: border-box;
}

html,
body {
    background-attachment: fixed;
    background-image: url('./../images/bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
    height: 100vh;
    margin: 0;
    overflow: hidden;
    /* display: flex; */
    /*Remove scroll*/
}

header {
    margin-top: 5px;
    height: 20vh;
}

.left-side,
.right-side {
    flex-direction: row;
    /*Coloca as section uma ao lado da outra e nao embaixo*/
    height: 70vh;
    /*!00% do tamanho da tela*/
}


/* .illustration {
    height: 60vh;
    width: 30%;
} */